:root {
  font-family: "Assistant", sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1c1917;
  color: #e7e5e4;
}

#app {
  max-width: 800px;
  width: 90%;
  margin: auto;
  height: 100%;
}

header {
  padding: 40px;
  text-align: center;
}

header h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

header .wrapper-input {
  max-width: 350px;
  width: 90%;
  margin: auto;
  position: relative;
}

header .wrapper-input input {
  width: 100%;

  padding: 1rem 4rem 1rem 1rem;
  border: none;
  border-radius: 4px;
  outline: none;
  background: #fb923c;
  font-size: 1.6rem;
  font-weight: 700;
  color: #1c1917;
}

header .wrapper-input input::placeholder {
  color: #1c1917;
  opacity: 0.6;
}

header .wrapper-input i {
  position: absolute;
  right: 1.6rem;
  top: 0.7rem;
  z-index: 1;
  font-size: 2.4rem;
  color: #1c1917;
  opacity: 0.6;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding-bottom: 2rem;
}

ul li {
  list-style: none;
  background: #fb923c;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 200ms;
}

ul:has(li:hover) li:not(:hover) {
  opacity: 0.6;
  scale: 0.98;
}

ul li .header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

ul li .header i {
  font-size: 2.4rem;
  background: #e7e5e4;
  color: #1c1917;
  border-radius: 50%;
  padding: 1rem;
}

ul li .header h2 {
  font-size: 2.2rem;
  color: #1c1917;
  opacity: 0.7;
}

ul li p {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: #1c1917;
  opacity: 0.8;
}

@media (max-width: 650px) {
  ul {
    grid-template-columns: 1fr;
  }
}
